.picture {
    display: float;
    margin: auto;
    width: 50%;
}

body {
    background-color: darkred;
}

article {
    background-color: lightcoral;
}

h1 {
    margin: 1em;
}

h3 {
    margin: .5em 2em;
}

h4 {
    margin: .25em 3em;
}

p {
    margin: .25em 3.5em;
}

a {
    margin: 3;
    color: darkmagenta;
}

a:hover {
    color: darkblue;
}