.picture {
    text-align: center;
    max-width: 500px;
}

body {
    background-color: darkred;
}

article {
    background-color: lightcoral;
}

h1 {
    margin: 1em;
}

h2 {
    margin: .5em 2em;
}

h4 {
    margin: .25em 3em;
}

p {
    margin: .25em 3.5em;
}